.feynman__title {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 775px;
    margin-top: 0;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
  }