/* olá, segui as dimensões do brief 620X608px */
/* inclusive no desenho na paágina inicial, mostra o livro deste modo:cortado */
/* Por favor, me explique. Se não for assim, tentarei fazr o correto.
Só não estou entendendo como deveria ser de fato */

.khan__book-pic{
  width: 620px;
  height: 608px;
  display: absolute;
  z-index: 0;
  background-image: url(../../../images/khan/khan-book-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
